# Marvel Cinematic Universe Movie Ratings

Author: Eze Ahunanya 

## Table of Contents
<ol>
<li><a href="#intro">Introduction</a></li>
<li>
    <a href="#wrangling">Data Wrangling</a>
    <ol>
    <li><a href="#gathering">Data Gathering</a></li>    
    <li><a href="#assessment">Data Assessment</a></li>    
    <li><a href="#cleaning">Data Cleaning</a></li>    
    </ol>
</li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ol>

<a id='intro'></a>
## Introduction

In this project, the ratings of the Marvel Cinematic Universe movies will be explored. In particular, the report aims to answer the following questions: 'How are the marvel movies ranked', 'How do the scores from critics and general audience compare?' and 'What is the relationship of box office earnings and movie ratings?'. The data used will be sourced from the Rotten Tomatoes website.

<a id='wrangling'></a>
## Data Wrangling
<a id='gathering'></a>
### Data Gathering

A list of all the movies in the MCU will be extracted from wikipedia. These will then be used to make the list of Rotten Tomatoes urls where the movie data will be extracted from.

In [1]:
import requests 
from bs4 import BeautifulSoup

In [2]:
# url contains movie titles
url = 'https://en.wikipedia.org/wiki/Marvel_Cinematic_Universe#Films'

# save html file in response variable
response = requests.get(url)

In [3]:
# parse html file and save to soup variable
soup = BeautifulSoup(response.content, 'lxml')

In [4]:
movies_list = []

for i in [x for x in range(14, 37)]:
    
    # extract movie titles inside 'th' tag from 15th to 37th elements in the list
    movie_line = soup.find_all('th', scope="row")[i] 
    movie_title = movie_line.contents[0].contents[0].contents[0] 
    print(i, movie_title)
    movies_list.append(movie_title)

14 Iron Man
15 The Incredible Hulk
16 Iron Man 2
17 Thor
18 Captain America: The First Avenger
19 Marvel's The Avengers
20 Iron Man 3
21 Thor: The Dark World
22 Captain America: The Winter Soldier
23 Guardians of the Galaxy
24 Avengers: Age of Ultron
25 Ant-Man
26 Captain America: Civil War
27 Doctor Strange
28 Guardians of the Galaxy Vol. 2
29 Spider-Man: Homecoming
30 Thor: Ragnarok
31 Black Panther
32 Avengers: Infinity War
33 Ant-Man and the Wasp
34 Captain Marvel
35 Avengers: Endgame
36 Spider-Man: Far From Home

In [5]:
urls_list = []

for movie_title in movies_list:
    
    # format movie strings for urls
    movie_title = (movie_title.lower().replace(" ", "_").replace("-", "_")
    .replace(":", "").replace("'", "").replace(".", ""))
    url = 'https://www.rottentomatoes.com/m/{}'.format(movie_title)
    print(url)
    urls_list.append(url)

https://www.rottentomatoes.com/m/iron_man
https://www.rottentomatoes.com/m/the_incredible_hulk
https://www.rottentomatoes.com/m/iron_man_2
https://www.rottentomatoes.com/m/thor
https://www.rottentomatoes.com/m/captain_america_the_first_avenger
https://www.rottentomatoes.com/m/marvels_the_avengers
https://www.rottentomatoes.com/m/iron_man_3
https://www.rottentomatoes.com/m/thor_the_dark_world
https://www.rottentomatoes.com/m/captain_america_the_winter_soldier
https://www.rottentomatoes.com/m/guardians_of_the_galaxy
https://www.rottentomatoes.com/m/avengers_age_of_ultron
https://www.rottentomatoes.com/m/ant_man
https://www.rottentomatoes.com/m/captain_america_civil_war
https://www.rottentomatoes.com/m/doctor_strange
https://www.rottentomatoes.com/m/guardians_of_the_galaxy_vol_2
https://www.rottentomatoes.com/m/spider_man_homecoming
https://www.rottentomatoes.com/m/thor_ragnarok
https://www.rottentomatoes.com/m/black_panther
https://www.rottentomatoes.com/m/avengers_infinity_war
https://www.rottentomatoes.com/m/ant_man_and_the_wasp
https://www.rottentomatoes.com/m/captain_marvel
https://www.rottentomatoes.com/m/avengers_endgame
https://www.rottentomatoes.com/m/spider_man_far_from_home

In [6]:
# correct faulty url addresses
urls_list[13] = 'https://www.rottentomatoes.com/m/doctor_strange_2016'
urls_list[17] = 'https://www.rottentomatoes.com/m/black_panther_2018'

In [7]:
urls_list

['https://www.rottentomatoes.com/m/iron_man',
 'https://www.rottentomatoes.com/m/the_incredible_hulk',
 'https://www.rottentomatoes.com/m/iron_man_2',
 'https://www.rottentomatoes.com/m/thor',
 'https://www.rottentomatoes.com/m/captain_america_the_first_avenger',
 'https://www.rottentomatoes.com/m/marvels_the_avengers',
 'https://www.rottentomatoes.com/m/iron_man_3',
 'https://www.rottentomatoes.com/m/thor_the_dark_world',
 'https://www.rottentomatoes.com/m/captain_america_the_winter_soldier',
 'https://www.rottentomatoes.com/m/guardians_of_the_galaxy',
 'https://www.rottentomatoes.com/m/avengers_age_of_ultron',
 'https://www.rottentomatoes.com/m/ant_man',
 'https://www.rottentomatoes.com/m/captain_america_civil_war',
 'https://www.rottentomatoes.com/m/doctor_strange_2016',
 'https://www.rottentomatoes.com/m/guardians_of_the_galaxy_vol_2',
 'https://www.rottentomatoes.com/m/spider_man_homecoming',
 'https://www.rottentomatoes.com/m/thor_ragnarok',
 'https://www.rottentomatoes.com/m/black_panther_2018',
 'https://www.rottentomatoes.com/m/avengers_infinity_war',
 'https://www.rottentomatoes.com/m/ant_man_and_the_wasp',
 'https://www.rottentomatoes.com/m/captain_marvel',
 'https://www.rottentomatoes.com/m/avengers_endgame',
 'https://www.rottentomatoes.com/m/spider_man_far_from_home']

Using a separate module with a function which I wrote, the movie data will be extracted from each url and be aggregated into one data frame.

In [8]:
import get_movie_module as gm
import pandas as pd

In [9]:
df = gm.get_movie_data(urls_list)
df

,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,movie_title,release_date_theaters,runtime,box_office_gross_usa
0,tomatometerAllCritics,94,7.71,POSITIVE,279.0,279.0,,261.0,18.0,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
1,tomatometerTopCritics,90,7.40,POSITIVE,58.0,58.0,,52.0,6.0,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
2,audienceAll,91,4.26,POSITIVE,82487.0,1083076.0,ALL,220193.0,22279.0,False,NaN,upright,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
3,audienceVerified,NaN,NaN,NaN,NaN,NaN,VERIFIED,NaN,NaN,False,NaN,N/A,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
4,tomatometerAllCritics,67,6.16,POSITIVE,233.0,233.0,,156.0,77.0,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,audienceVerified,NaN,NaN,NaN,NaN,NaN,VERIFIED,NaN,NaN,False,NaN,N/A,Avengers: Endgame (2019),"Apr 26, 2019",3h 1m,$858.4M
88,tomatometerAllCritics,90,7.40,POSITIVE,441.0,441.0,,399.0,42.0,True,certified-fresh,NaN,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
89,tomatometerTopCritics,88,6.80,POSITIVE,51.0,51.0,,45.0,6.0,True,certified-fresh,NaN,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
90,audienceAll,93,4.53,POSITIVE,14597.0,94129.0,ALL,87830.0,6299.0,False,NaN,upright,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
91,audienceVerified,95,4.63,POSITIVE,8947.0,69242.0,VERIFIED,65928.0,3314.0,False,NaN,upright,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M

<a id='assessment'></a>
### Data Assessment

In [10]:
df.head(10)

,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,movie_title,release_date_theaters,runtime,box_office_gross_usa
0,tomatometerAllCritics,94,7.71,POSITIVE,279.0,279.0,,261.0,18.0,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
1,tomatometerTopCritics,90,7.40,POSITIVE,58.0,58.0,,52.0,6.0,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
2,audienceAll,91,4.26,POSITIVE,82487.0,1083076.0,ALL,220193.0,22279.0,False,NaN,upright,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
3,audienceVerified,NaN,NaN,NaN,NaN,NaN,VERIFIED,NaN,NaN,False,NaN,N/A,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
4,tomatometerAllCritics,67,6.16,POSITIVE,233.0,233.0,,156.0,77.0,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
5,tomatometerTopCritics,55,5.60,POSITIVE,47.0,47.0,,26.0,21.0,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
6,audienceAll,70,3.64,POSITIVE,34944.0,739466.0,ALL,56331.0,24325.0,False,NaN,upright,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
7,audienceVerified,NaN,NaN,NaN,NaN,NaN,VERIFIED,NaN,NaN,False,NaN,N/A,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
8,tomatometerAllCritics,72,6.47,POSITIVE,300.0,300.0,,217.0,83.0,True,certified-fresh,NaN,Iron Man 2 (2010),"May 7, 2010",2h 4m,$312.1M
9,tomatometerTopCritics,60,5.90,POSITIVE,55.0,55.0,,33.0,22.0,True,certified-fresh,NaN,Iron Man 2 (2010),"May 7, 2010",2h 4m,$312.1M

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  92 non-null     object
 1   score                  70 non-null     object
 2   averageRating          70 non-null     object
 3   scoreSentiment         70 non-null     object
 4   reviewCount            70 non-null     float64
 5   ratingCount            70 non-null     float64
 6   scoreType              92 non-null     object
 7   likedCount             70 non-null     float64
 8   notLikedCount          69 non-null     float64
 9   certified              92 non-null     bool
 10  tomatometerState       46 non-null     object
 11  audienceClass          46 non-null     object
 12  movie_title            92 non-null     object
 13  release_date_theaters  92 non-null     object
 14  runtime                92 non-null     object
 15  box_office_gross_usa   88 non-null     object
dtypes: bool(1), float64(4), object(11)
memory usage: 11.0+ KB

<a id='cleaning'></a>
### Data Cleaning 

Issues:
1. the movie title column is towards the end
- score type column have many missing values so seem useless
- verified audience rows are all empty except for Spider-Man: Far From Home
- certified column is redundant because it has the same information as the tomatometerState column
- audience type column is named incorrectly
- inconsistent format for column names
- movie title column also contains years
- audience type variables needs cleaning 
- some of the data types are incorrect for example the score column is as an object which is a string but should be an integer
- box office and runtime columns need to be converted into a usable format
- box_office_gross_usa value is missing for Marvel's The Avengers

Fix.1: The movie title column is towards the end

In [12]:
df.columns

Index(['index', 'score', 'averageRating', 'scoreSentiment', 'reviewCount',
       'ratingCount', 'scoreType', 'likedCount', 'notLikedCount', 'certified',
       'tomatometerState', 'audienceClass', 'movie_title',
       'release_date_theaters', 'runtime', 'box_office_gross_usa'],
      dtype='object')

In [13]:
df = df[['movie_title', 'index', 'score', 'averageRating', 'scoreSentiment', 
         'reviewCount', 'ratingCount', 'scoreType', 'likedCount', 
         'notLikedCount', 'certified', 'tomatometerState', 'audienceClass', 
         'release_date_theaters', 'box_office_gross_usa', 'runtime']]

Test

In [14]:
df.head(1)

,movie_title,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,release_date_theaters,box_office_gross_usa,runtime
0,Iron Man (2008),tomatometerAllCritics,94,7.71,POSITIVE,279.0,279.0,,261.0,18.0,True,certified-fresh,NaN,"May 2, 2008",$318.3M,2h 6m

Fix 2-4:

- Score type column have many missing values so seem useless
- Verified audience rows are all empty except for Spider-Man: Far From Home
- Certified column is redundant because it has the same information as the tomatometerState column

In [15]:
df = df[df['index'] != 'audienceVerified'].drop(columns 
        = ['scoreType', 'certified']).reset_index(drop=True)

Test

In [16]:
df.head()

,movie_title,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,likedCount,notLikedCount,tomatometerState,audienceClass,release_date_theaters,box_office_gross_usa,runtime
0,Iron Man (2008),tomatometerAllCritics,94,7.71,POSITIVE,279.0,279.0,261.0,18.0,certified-fresh,NaN,"May 2, 2008",$318.3M,2h 6m
1,Iron Man (2008),tomatometerTopCritics,90,7.40,POSITIVE,58.0,58.0,52.0,6.0,certified-fresh,NaN,"May 2, 2008",$318.3M,2h 6m
2,Iron Man (2008),audienceAll,91,4.26,POSITIVE,82487.0,1083076.0,220193.0,22279.0,NaN,upright,"May 2, 2008",$318.3M,2h 6m
3,The Incredible Hulk (2008),tomatometerAllCritics,67,6.16,POSITIVE,233.0,233.0,156.0,77.0,fresh,NaN,"Jun 13, 2008",$134.5M,1h 52m
4,The Incredible Hulk (2008),tomatometerTopCritics,55,5.60,POSITIVE,47.0,47.0,26.0,21.0,fresh,NaN,"Jun 13, 2008",$134.5M,1h 52m

Fix 5&6:

- Audience type column is named incorrectly
- Inconsistent format for column names

In [17]:
df.rename(columns={"index": "audience_type", "averageRating": "average_rating",
                   "scoreSentiment": "score_sentiment", "reviewCount":
                   "review_count", "ratingCount": "rating_count",
                   "likedCount": "liked_count", "notLikedCount":
                   "not_liked_count", "tomatometerState": "tomatometer_state",
                   "audienceClass": "audience_class"}, inplace=True)

Test

In [18]:
df.columns

Index(['movie_title', 'audience_type', 'score', 'average_rating',
       'score_sentiment', 'review_count', 'rating_count', 'liked_count',
       'not_liked_count', 'tomatometer_state', 'audience_class',
       'release_date_theaters', 'box_office_gross_usa', 'runtime'],
      dtype='object')

Fix 7: Movie title column also contains years

In [19]:
df['movie_title'] = df.movie_title.apply(lambda x: x[:-7])

Test

In [20]:
df['movie_title'].head()

0               Iron Man
1               Iron Man
2               Iron Man
3    The Incredible Hulk
4    The Incredible Hulk
Name: movie_title, dtype: object

Fix 8: Audience type variables needs cleaning

In [21]:
df["audience_type"].replace({"tomatometerAllCritics": "All Critics", 
                             "tomatometerTopCritics": "Top Critics", 
                             "audienceAll": "All Audience"}, inplace=True)

Test

In [22]:
df["audience_type"].head()

0     All Critics
1     Top Critics
2    All Audience
3     All Critics
4     Top Critics
Name: audience_type, dtype: object

Fix 9&10:

- Some of the data types are incorrect for example the score column is as an object which is a string but should be an integer
- Box office and runtime columns need to be converted into a usable format

In [23]:
df.box_office_gross_usa = (df[~df.box_office_gross_usa.isnull()]
                           .box_office_gross_usa.apply(lambda x: x[1:-1]))

In [24]:
df.box_office_gross_usa.head()

0    318.3
1    318.3
2    318.3
3    134.5
4    134.5
Name: box_office_gross_usa, dtype: object

In [25]:
df[["runtime_hour", "runtime_min"]] = df.runtime.str.extract(r'(\d+)h (\d+)m')

In [26]:
df.drop(columns='runtime', inplace=True)

In [27]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,tomatometer_state,audience_class,release_date_theaters,box_office_gross_usa,runtime_hour,runtime_min
0,Iron Man,All Critics,94,7.71,POSITIVE,279.0,279.0,261.0,18.0,certified-fresh,NaN,"May 2, 2008",318.3,2,6
1,Iron Man,Top Critics,90,7.40,POSITIVE,58.0,58.0,52.0,6.0,certified-fresh,NaN,"May 2, 2008",318.3,2,6
2,Iron Man,All Audience,91,4.26,POSITIVE,82487.0,1083076.0,220193.0,22279.0,NaN,upright,"May 2, 2008",318.3,2,6
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233.0,233.0,156.0,77.0,fresh,NaN,"Jun 13, 2008",134.5,1,52
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47.0,47.0,26.0,21.0,fresh,NaN,"Jun 13, 2008",134.5,1,52

In [28]:
df.release_date_theaters = df.release_date_theaters.astype('str')

df = df.astype(dtype={'movie_title': 'category', 'audience_type': 'category',
                 'score': 'int64', 'average_rating': 'float', 'score_sentiment':
                 'category', 'review_count': 'int64', 'rating_count':
                 'int64', 'liked_count': 'int64', 'not_liked_count':
                 'int64', 'release_date_theaters': 'datetime64[ns]', 
                 'box_office_gross_usa': 'float', 'runtime_hour': 'int64', 
                 'runtime_min': 'int64', 'tomatometer_state': 'category', 
                 'audience_class': 'category'}, errors='ignore')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movie_title            69 non-null     category
 1   audience_type          69 non-null     category
 2   score                  69 non-null     int64
 3   average_rating         69 non-null     float64
 4   score_sentiment        69 non-null     category
 5   review_count           69 non-null     int64
 6   rating_count           69 non-null     int64
 7   liked_count            69 non-null     int64
 8   not_liked_count        68 non-null     float64
 9   tomatometer_state      46 non-null     category
 10  audience_class         23 non-null     category
 11  release_date_theaters  69 non-null     datetime64[ns]
 12  box_office_gross_usa   66 non-null     float64
 13  runtime_hour           69 non-null     int64
 14  runtime_min            69 non-null     int64
dtypes: category(5), datetime64[ns](1), float64(3), int64(6)
memory usage: 7.0 KB

In [30]:
df['runtime_minutes'] = (df.runtime_hour * 60) + df.runtime_min

In [31]:
df.drop(columns = ['runtime_hour', 'runtime_min'], inplace = True)

Test

In [32]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,tomatometer_state,audience_class,release_date_theaters,box_office_gross_usa,runtime_minutes
0,Iron Man,All Critics,94,7.71,POSITIVE,279,279,261,18.0,certified-fresh,NaN,2008-05-02,318.3,126
1,Iron Man,Top Critics,90,7.40,POSITIVE,58,58,52,6.0,certified-fresh,NaN,2008-05-02,318.3,126
2,Iron Man,All Audience,91,4.26,POSITIVE,82487,1083076,220193,22279.0,NaN,upright,2008-05-02,318.3,126
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233,233,156,77.0,fresh,NaN,2008-06-13,134.5,112
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47,47,26,21.0,fresh,NaN,2008-06-13,134.5,112

Fix 11: Box_office_gross_usa value is missing for Marvel's The Avengers

In [33]:
df[df.box_office_gross_usa.isnull()][["movie_title","box_office_gross_usa"]]

              movie_title  box_office_gross_usa
15  Marvel's The Avengers                   NaN
16  Marvel's The Avengers                   NaN
17  Marvel's The Avengers                   NaN

In [34]:
index_range = df[df.box_office_gross_usa.isnull()].box_office_gross_usa.index

In [35]:
# replace box office value with one from IMDB website
df.loc[index_range, 'box_office_gross_usa'] = 623.4

Test

In [36]:
df.loc[15:17, 'box_office_gross_usa']

15    623.4
16    623.4
17    623.4
Name: box_office_gross_usa, dtype: float64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movie_title            69 non-null     category
 1   audience_type          69 non-null     category
 2   score                  69 non-null     int64
 3   average_rating         69 non-null     float64
 4   score_sentiment        69 non-null     category
 5   review_count           69 non-null     int64
 6   rating_count           69 non-null     int64
 7   liked_count            69 non-null     int64
 8   not_liked_count        68 non-null     float64
 9   tomatometer_state      46 non-null     category
 10  audience_class         23 non-null     category
 11  release_date_theaters  69 non-null     datetime64[ns]
 12  box_office_gross_usa   69 non-null     float64
 13  runtime_minutes        69 non-null     int64
dtypes: category(5), datetime64[ns](1), float64(3), int64(5)
memory usage: 6.5 KB

In [38]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,tomatometer_state,audience_class,release_date_theaters,box_office_gross_usa,runtime_minutes
0,Iron Man,All Critics,94,7.71,POSITIVE,279,279,261,18.0,certified-fresh,NaN,2008-05-02,318.3,126
1,Iron Man,Top Critics,90,7.40,POSITIVE,58,58,52,6.0,certified-fresh,NaN,2008-05-02,318.3,126
2,Iron Man,All Audience,91,4.26,POSITIVE,82487,1083076,220193,22279.0,NaN,upright,2008-05-02,318.3,126
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233,233,156,77.0,fresh,NaN,2008-06-13,134.5,112
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47,47,26,21.0,fresh,NaN,2008-06-13,134.5,112

not liked count column has a value missing

In [39]:
df[df.not_liked_count.isnull()][["movie_title","not_liked_count"]]

      movie_title  not_liked_count
52  Black Panther              NaN

In [40]:
df.loc[df[df.not_liked_count.isnull()][["movie_title","not_liked_count"]].index, 'not_liked_count'] = 0

In [41]:
df.not_liked_count = df.not_liked_count.astype('int64')

In [42]:
df.loc[52, 'not_liked_count']

0

Reshaping dataframe; seperating scores by audience types.

In [43]:
df_all_critics = df[df.audience_type == 'All Critics'].reset_index(drop=True).drop(columns 
        = ['audience_type', 'audience_class'])

In [44]:
df_top_critics = df[df.audience_type == 'Top Critics'].reset_index(drop=True).drop(columns 
        = ['audience_type', 'audience_class'])

In [45]:
df_all_audience = df[df.audience_type == 'All Audience'].reset_index(drop=True).drop(columns 
        = ['audience_type', 'tomatometer_state'])

In [46]:
df1 = pd.merge(df_all_critics, df_top_critics, how='inner', on=(['movie_title', 
             'release_date_theaters', 'box_office_gross_usa', 'runtime_minutes']), suffixes = ('_all_critics', '_top_critics'))

df1 = pd.merge(df1, df_all_audience, how='inner', on=(['movie_title', 
             'release_date_theaters', 'box_office_gross_usa', 'runtime_minutes']))

df1.head()

,movie_title,score_all_critics,average_rating_all_critics,score_sentiment_all_critics,review_count_all_critics,rating_count_all_critics,liked_count_all_critics,not_liked_count_all_critics,tomatometer_state_all_critics,release_date_theaters,...,not_liked_count_top_critics,tomatometer_state_top_critics,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,audience_class
0,Iron Man,94,7.71,POSITIVE,279,279,261,18,certified-fresh,2008-05-02,...,6,certified-fresh,91,4.26,POSITIVE,82487,1083076,220193,22279,upright
1,The Incredible Hulk,67,6.16,POSITIVE,233,233,156,77,fresh,2008-06-13,...,21,fresh,70,3.64,POSITIVE,34944,739466,56331,24325,upright
2,Iron Man 2,72,6.47,POSITIVE,300,300,217,83,certified-fresh,2010-05-07,...,22,certified-fresh,71,3.73,POSITIVE,25797,480888,89871,36012,upright
3,Thor,77,6.71,POSITIVE,286,286,220,66,certified-fresh,2011-05-06,...,19,certified-fresh,76,3.84,POSITIVE,19637,247935,111481,35319,upright
4,Captain America: The First Avenger,80,6.97,POSITIVE,268,268,214,54,certified-fresh,2011-07-22,...,12,certified-fresh,74,3.75,POSITIVE,15406,189506,70359,24525,upright

In [47]:
df1.columns

Index(['movie_title', 'score_all_critics', 'average_rating_all_critics',
       'score_sentiment_all_critics', 'review_count_all_critics',
       'rating_count_all_critics', 'liked_count_all_critics',
       'not_liked_count_all_critics', 'tomatometer_state_all_critics',
       'release_date_theaters', 'box_office_gross_usa', 'runtime_minutes',
       'score_top_critics', 'average_rating_top_critics',
       'score_sentiment_top_critics', 'review_count_top_critics',
       'rating_count_top_critics', 'liked_count_top_critics',
       'not_liked_count_top_critics', 'tomatometer_state_top_critics', 'score',
       'average_rating', 'score_sentiment', 'review_count', 'rating_count',
       'liked_count', 'not_liked_count', 'audience_class'],
      dtype='object')

In [48]:
df1.rename(columns={"score": "score_all_audience", "average_rating": "average_rating_all_audience",
                   "score_sentiment": "score_sentiment_all_audience", "review_count":
                   "review_count_all_audience", "rating_count": "rating_count_all_audience",
                   "liked_count": "review_count_all_audience", "not_liked_count":
                   "not_liked_count_all_audience", "audience_class": "audience_class"}, inplace=True)

In [49]:
df1['movie_rank_all_critics'] = df1['average_rating_all_critics'].rank(method='first', ascending=False)
df1['movie_rank_top_critics'] = df1['average_rating_top_critics'].rank(method='first', ascending=False)
df1['movie_rank_all_audience'] = df1['average_rating_all_audience'].rank(method='first', ascending=False)

In [50]:
df1 = df1.astype(dtype={'movie_rank_all_critics': 'int64', 'movie_rank_top_critics': 
                       'int64', 'movie_rank_all_audience': 'int64'})

In [51]:
df1[['movie_rank_all_critics', 'movie_rank_top_critics', 'movie_rank_all_audience']].head()

   movie_rank_all_critics  movie_rank_top_critics  movie_rank_all_audience
0                       5                       4                        8
1                      23                      22                       22
2                      21                      21                       21
3                      20                      20                       18
4                      16                      16                       19

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   movie_title                    23 non-null     category
 1   score_all_critics              23 non-null     int64
 2   average_rating_all_critics     23 non-null     float64
 3   score_sentiment_all_critics    23 non-null     category
 4   review_count_all_critics       23 non-null     int64
 5   rating_count_all_critics       23 non-null     int64
 6   liked_count_all_critics        23 non-null     int64
 7   not_liked_count_all_critics    23 non-null     int64
 8   tomatometer_state_all_critics  23 non-null     category
 9   release_date_theaters          23 non-null     datetime64[ns]
 10  box_office_gross_usa           23 non-null     float64
 11  runtime_minutes                23 non-null     int64
 12  score_top_critics              23 non-null     int64
 13  average_rating_top_critics     23 non-null     float64
 14  score_sentiment_top_critics    23 non-null     category
 15  review_count_top_critics       23 non-null     int64
 16  rating_count_top_critics       23 non-null     int64
 17  liked_count_top_critics        23 non-null     int64
 18  not_liked_count_top_critics    23 non-null     int64
 19  tomatometer_state_top_critics  23 non-null     category
 20  score_all_audience             23 non-null     int64
 21  average_rating_all_audience    23 non-null     float64
 22  score_sentiment_all_audience   23 non-null     category
 23  review_count_all_audience      23 non-null     int64
 24  rating_count_all_audience      23 non-null     int64
 25  review_count_all_audience      23 non-null     int64
 26  not_liked_count_all_audience   23 non-null     int64
 27  audience_class                 23 non-null     category
 28  movie_rank_all_critics         23 non-null     int64
 29  movie_rank_top_critics         23 non-null     int64
 30  movie_rank_all_audience        23 non-null     int64
dtypes: category(7), datetime64[ns](1), float64(4), int64(19)
memory usage: 6.0 KB

In [53]:
df.to_csv('marvel_cinematic_universe_movie_scores.csv', index=False)

In [54]:
df1.to_csv('mcu_movie_scores.csv', index=False)