# Marvel Cinematic Universe Movie Ratings

Author: Eze Ahunanya 

## Table of Contents
<ol>
<li><a href="#intro">Introduction</a></li>
<li>
    <a href="#wrangling">Data Wrangling</a>
    <ol>
    <li><a href="#gathering">Data Gathering</a></li>    
    <li><a href="#assessment">Data Assessment</a></li>    
    <li><a href="#cleaning">Data Cleaning</a></li>    
    </ol>
</li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ol>

<a id='intro'></a>
## Introduction

In this project, the ratings of the Marvel Cinematic Universe movies will be explored. In particular, the report aims to answer the following questions: 'How do the scores from critics and general audience compare?' and 'What is the relationship of box office earnings and movie ratings?'. The data used will be sourced from the Rotten Tomatoes website.

<a id='wrangling'></a>
## Data Wrangling
<a id='gathering'></a>
### Data Gathering

A list of all the movies in the MCU will be extracted from wikipedia. These will then be used to make the list of Rotten Tomatoes urls where the movie data will be extracted from.

In [1]:
import requests 
from bs4 import BeautifulSoup

In [2]:
# url contains movie titles
url = 'https://en.wikipedia.org/wiki/Marvel_Cinematic_Universe#Films'

# save html file in response variable
response = requests.get(url)

In [3]:
# parse html file and save to soup variable
soup = BeautifulSoup(response.content, 'lxml')

In [4]:
movies_list = []

for i in [x for x in range(14, 37)]:
    
    # extract movie titles inside 'th' tag from 15th to 37th elements in the list
    movie_line = soup.find_all('th', scope="row")[i] 
    movie_title = movie_line.contents[0].contents[0].contents[0] 
    print(i, movie_title)
    movies_list.append(movie_title)

14 Iron Man
15 The Incredible Hulk
16 Iron Man 2
17 Thor
18 Captain America: The First Avenger
19 Marvel's The Avengers
20 Iron Man 3
21 Thor: The Dark World
22 Captain America: The Winter Soldier
23 Guardians of the Galaxy
24 Avengers: Age of Ultron
25 Ant-Man
26 Captain America: Civil War
27 Doctor Strange
28 Guardians of the Galaxy Vol. 2
29 Spider-Man: Homecoming
30 Thor: Ragnarok
31 Black Panther
32 Avengers: Infinity War
33 Ant-Man and the Wasp
34 Captain Marvel
35 Avengers: Endgame
36 Spider-Man: Far From Home

In [5]:
urls_list = []

for movie_title in movies_list:
    
    # format movie strings for urls
    movie_title = (movie_title.lower().replace(" ", "_").replace("-", "_")
    .replace(":", "").replace("'", "").replace(".", ""))
    url = 'https://www.rottentomatoes.com/m/{}'.format(movie_title)
    print(url)
    urls_list.append(url)

https://www.rottentomatoes.com/m/iron_man
https://www.rottentomatoes.com/m/the_incredible_hulk
https://www.rottentomatoes.com/m/iron_man_2
https://www.rottentomatoes.com/m/thor
https://www.rottentomatoes.com/m/captain_america_the_first_avenger
https://www.rottentomatoes.com/m/marvels_the_avengers
https://www.rottentomatoes.com/m/iron_man_3
https://www.rottentomatoes.com/m/thor_the_dark_world
https://www.rottentomatoes.com/m/captain_america_the_winter_soldier
https://www.rottentomatoes.com/m/guardians_of_the_galaxy
https://www.rottentomatoes.com/m/avengers_age_of_ultron
https://www.rottentomatoes.com/m/ant_man
https://www.rottentomatoes.com/m/captain_america_civil_war
https://www.rottentomatoes.com/m/doctor_strange
https://www.rottentomatoes.com/m/guardians_of_the_galaxy_vol_2
https://www.rottentomatoes.com/m/spider_man_homecoming
https://www.rottentomatoes.com/m/thor_ragnarok
https://www.rottentomatoes.com/m/black_panther
https://www.rottentomatoes.com/m/avengers_infinity_war
https://www.rottentomatoes.com/m/ant_man_and_the_wasp
https://www.rottentomatoes.com/m/captain_marvel
https://www.rottentomatoes.com/m/avengers_endgame
https://www.rottentomatoes.com/m/spider_man_far_from_home

In [6]:
# correct faulty url addresses
urls_list[13] = 'https://www.rottentomatoes.com/m/doctor_strange_2016'
urls_list[17] = 'https://www.rottentomatoes.com/m/black_panther_2018'

In [7]:
urls_list

['https://www.rottentomatoes.com/m/iron_man',
 'https://www.rottentomatoes.com/m/the_incredible_hulk',
 'https://www.rottentomatoes.com/m/iron_man_2',
 'https://www.rottentomatoes.com/m/thor',
 'https://www.rottentomatoes.com/m/captain_america_the_first_avenger',
 'https://www.rottentomatoes.com/m/marvels_the_avengers',
 'https://www.rottentomatoes.com/m/iron_man_3',
 'https://www.rottentomatoes.com/m/thor_the_dark_world',
 'https://www.rottentomatoes.com/m/captain_america_the_winter_soldier',
 'https://www.rottentomatoes.com/m/guardians_of_the_galaxy',
 'https://www.rottentomatoes.com/m/avengers_age_of_ultron',
 'https://www.rottentomatoes.com/m/ant_man',
 'https://www.rottentomatoes.com/m/captain_america_civil_war',
 'https://www.rottentomatoes.com/m/doctor_strange_2016',
 'https://www.rottentomatoes.com/m/guardians_of_the_galaxy_vol_2',
 'https://www.rottentomatoes.com/m/spider_man_homecoming',
 'https://www.rottentomatoes.com/m/thor_ragnarok',
 'https://www.rottentomatoes.com/m/black_panther_2018',
 'https://www.rottentomatoes.com/m/avengers_infinity_war',
 'https://www.rottentomatoes.com/m/ant_man_and_the_wasp',
 'https://www.rottentomatoes.com/m/captain_marvel',
 'https://www.rottentomatoes.com/m/avengers_endgame',
 'https://www.rottentomatoes.com/m/spider_man_far_from_home']

Using a separate module with a function which I wrote, the movie data will be extracted from each url and be aggregated into one data frame.

In [8]:
import get_movie_module as gm
import pandas as pd

In [9]:
df = gm.get_movie_data(urls_list)
df

,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,movie_title,release_date_theaters,runtime,box_office_gross_usa
0,tomatometerAllCritics,94,7.71,POSITIVE,279,279,,261,18,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
1,tomatometerTopCritics,90,7.40,POSITIVE,58,58,,52,6,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
2,audienceAll,91,4.26,POSITIVE,82486,1083074,ALL,220191,22279,False,NaN,upright,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
3,audienceVerified,NaN,NaN,NaN,0,0,VERIFIED,0,0,False,NaN,N/A,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
4,tomatometerAllCritics,67,6.16,POSITIVE,233,233,,156,77,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,audienceVerified,NaN,NaN,NaN,0,0,VERIFIED,0,0,False,NaN,N/A,Avengers: Endgame (2019),"Apr 26, 2019",3h 1m,$858.4M
88,tomatometerAllCritics,90,7.44,POSITIVE,441,441,,399,42,True,certified-fresh,NaN,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
89,tomatometerTopCritics,88,6.80,POSITIVE,51,51,,45,6,True,certified-fresh,NaN,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
90,audienceAll,93,4.53,POSITIVE,14597,94127,ALL,87829,6298,False,NaN,upright,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M
91,audienceVerified,95,4.63,POSITIVE,8947,69242,VERIFIED,65928,3314,False,NaN,upright,Spider-Man: Far From Home (2019),"Jul 2, 2019",2h 9m,$390.7M

<a id='assessment'></a>
### Data Assessment

In [10]:
df.head(10)

,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,movie_title,release_date_theaters,runtime,box_office_gross_usa
0,tomatometerAllCritics,94,7.71,POSITIVE,279,279,,261,18,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
1,tomatometerTopCritics,90,7.40,POSITIVE,58,58,,52,6,True,certified-fresh,NaN,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
2,audienceAll,91,4.26,POSITIVE,82486,1083074,ALL,220191,22279,False,NaN,upright,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
3,audienceVerified,NaN,NaN,NaN,0,0,VERIFIED,0,0,False,NaN,N/A,Iron Man (2008),"May 2, 2008",2h 6m,$318.3M
4,tomatometerAllCritics,67,6.16,POSITIVE,233,233,,156,77,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
5,tomatometerTopCritics,55,5.60,POSITIVE,47,47,,26,21,False,fresh,NaN,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
6,audienceAll,70,3.64,POSITIVE,34944,739465,ALL,56330,24325,False,NaN,upright,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
7,audienceVerified,NaN,NaN,NaN,0,0,VERIFIED,0,0,False,NaN,N/A,The Incredible Hulk (2008),"Jun 13, 2008",1h 52m,$134.5M
8,tomatometerAllCritics,72,6.47,POSITIVE,300,300,,217,83,True,certified-fresh,NaN,Iron Man 2 (2010),"May 7, 2010",2h 4m,$312.1M
9,tomatometerTopCritics,60,5.90,POSITIVE,55,55,,33,22,True,certified-fresh,NaN,Iron Man 2 (2010),"May 7, 2010",2h 4m,$312.1M

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  92 non-null     object
 1   score                  70 non-null     object
 2   averageRating          70 non-null     object
 3   scoreSentiment         70 non-null     object
 4   reviewCount            92 non-null     int64
 5   ratingCount            92 non-null     int64
 6   scoreType              92 non-null     object
 7   likedCount             92 non-null     int64
 8   notLikedCount          92 non-null     int64
 9   certified              92 non-null     bool
 10  tomatometerState       46 non-null     object
 11  audienceClass          46 non-null     object
 12  movie_title            92 non-null     object
 13  release_date_theaters  92 non-null     object
 14  runtime                92 non-null     object
 15  box_office_gross_usa   88 non-null     object
dtypes: bool(1), int64(4), object(11)
memory usage: 11.0+ KB

<a id='cleaning'></a>
### Data Cleaning 

Issues:
1. the movie title column is towards the end
- audience class and score type columns have many missing values so seem useless
- verified audience rows are all empty except for Spider-Man: Far From Home
- tomatometerState column is redundant because it has the same information as the certified column
- audience type column is named incorrectly
- inconsistent format for column names
- movie title column also contains years
- audience type variables needs cleaning 
- some of the data types are incorrect for example the score column is as an object which is a string but should be an integer
- box office and runtime columns need to be converted into a usable format
- box_office_gross_usa value is missing for Marvel's The Avengers

Fix.1: The movie title column is towards the end

In [12]:
df.columns

Index(['index', 'score', 'averageRating', 'scoreSentiment', 'reviewCount',
       'ratingCount', 'scoreType', 'likedCount', 'notLikedCount', 'certified',
       'tomatometerState', 'audienceClass', 'movie_title',
       'release_date_theaters', 'runtime', 'box_office_gross_usa'],
      dtype='object')

In [13]:
df = df[['movie_title', 'index', 'score', 'averageRating', 'scoreSentiment', 
         'reviewCount', 'ratingCount', 'scoreType', 'likedCount', 
         'notLikedCount', 'certified', 'tomatometerState', 'audienceClass', 
         'release_date_theaters', 'box_office_gross_usa', 'runtime']]

Test

In [14]:
df.head(1)

,movie_title,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,scoreType,likedCount,notLikedCount,certified,tomatometerState,audienceClass,release_date_theaters,box_office_gross_usa,runtime
0,Iron Man (2008),tomatometerAllCritics,94,7.71,POSITIVE,279,279,,261,18,True,certified-fresh,NaN,"May 2, 2008",$318.3M,2h 6m

Fix 2-4:

- Audience class and score type columns have many missing values so seem useless
- Verified audience rows are all empty except for Spider-Man: Far From Home
- TomatometerState column is redundant because it has the same information as the certified column

In [15]:
df = df[df['index'] != 'audienceVerified'].drop(columns 
        = ['scoreType', 'tomatometerState', 'audienceClass']).reset_index(drop=True)

Test

In [16]:
df.head()

,movie_title,index,score,averageRating,scoreSentiment,reviewCount,ratingCount,likedCount,notLikedCount,certified,release_date_theaters,box_office_gross_usa,runtime
0,Iron Man (2008),tomatometerAllCritics,94,7.71,POSITIVE,279,279,261,18,True,"May 2, 2008",$318.3M,2h 6m
1,Iron Man (2008),tomatometerTopCritics,90,7.40,POSITIVE,58,58,52,6,True,"May 2, 2008",$318.3M,2h 6m
2,Iron Man (2008),audienceAll,91,4.26,POSITIVE,82486,1083074,220191,22279,False,"May 2, 2008",$318.3M,2h 6m
3,The Incredible Hulk (2008),tomatometerAllCritics,67,6.16,POSITIVE,233,233,156,77,False,"Jun 13, 2008",$134.5M,1h 52m
4,The Incredible Hulk (2008),tomatometerTopCritics,55,5.60,POSITIVE,47,47,26,21,False,"Jun 13, 2008",$134.5M,1h 52m

Fix 5&6:

- Audience type column is named incorrectly
- Inconsistent format for column names

In [17]:
df.rename(columns={"index": "audience_type", "averageRating": "average_rating",
                   "scoreSentiment": "score_sentiment", "reviewCount":
                   "review_count", "ratingCount": "rating_count",
                   "likedCount": "liked_count", "notLikedCount":
                   "not_liked_count"}, inplace=True)

Test

In [18]:
df.columns

Index(['movie_title', 'audience_type', 'score', 'average_rating',
       'score_sentiment', 'review_count', 'rating_count', 'liked_count',
       'not_liked_count', 'certified', 'release_date_theaters',
       'box_office_gross_usa', 'runtime'],
      dtype='object')

Fix 7: Movie title column also contains years

In [19]:
df['movie_title'] = df.movie_title.apply(lambda x: x[:-7])

Test

In [20]:
df['movie_title'].head()

0               Iron Man
1               Iron Man
2               Iron Man
3    The Incredible Hulk
4    The Incredible Hulk
Name: movie_title, dtype: object

Fix 8: Audience type variables needs cleaning

In [21]:
df["audience_type"].replace({"tomatometerAllCritics": "All Critics", 
                             "tomatometerTopCritics": "Top Critics", 
                             "audienceAll": "All Audience"}, inplace=True)

Test

In [22]:
df["audience_type"].head()

0     All Critics
1     Top Critics
2    All Audience
3     All Critics
4     Top Critics
Name: audience_type, dtype: object

Fix 9&10:

- Some of the data types are incorrect for example the score column is as an object which is a string but should be an integer
- Box office and runtime columns need to be converted into a usable format

In [23]:
df.box_office_gross_usa = (df[~df.box_office_gross_usa.isnull()]
                           .box_office_gross_usa.apply(lambda x: x[1:-1]))

In [24]:
df.box_office_gross_usa.head()

0    318.3
1    318.3
2    318.3
3    134.5
4    134.5
Name: box_office_gross_usa, dtype: object

In [25]:
df[["runtime_hour", "runtime_min"]] = df.runtime.str.extract(r'(\d+)h (\d+)m')

In [26]:
df.drop(columns='runtime', inplace=True)

In [27]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,certified,release_date_theaters,box_office_gross_usa,runtime_hour,runtime_min
0,Iron Man,All Critics,94,7.71,POSITIVE,279,279,261,18,True,"May 2, 2008",318.3,2,6
1,Iron Man,Top Critics,90,7.40,POSITIVE,58,58,52,6,True,"May 2, 2008",318.3,2,6
2,Iron Man,All Audience,91,4.26,POSITIVE,82486,1083074,220191,22279,False,"May 2, 2008",318.3,2,6
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233,233,156,77,False,"Jun 13, 2008",134.5,1,52
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47,47,26,21,False,"Jun 13, 2008",134.5,1,52

In [28]:
df.release_date_theaters = df.release_date_theaters.astype('str')

df = df.astype(dtype={'movie_title': 'category', 'audience_type': 'category',
                 'score': 'int64', 'average_rating': 'float', 'score_sentiment':
                 'category', 'review_count': 'int64', 'rating_count':
                 'int64', 'liked_count': 'int64', 'not_liked_count':
                 'int64', 'certified': 'bool', 'release_date_theaters':
                 'datetime64[ns]', 'box_office_gross_usa': 'float', 'runtime_hour':
                 'int64', 'runtime_min': 'int64'})

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movie_title            69 non-null     category
 1   audience_type          69 non-null     category
 2   score                  69 non-null     int64
 3   average_rating         69 non-null     float64
 4   score_sentiment        69 non-null     category
 5   review_count           69 non-null     int64
 6   rating_count           69 non-null     int64
 7   liked_count            69 non-null     int64
 8   not_liked_count        69 non-null     int64
 9   certified              69 non-null     bool
 10  release_date_theaters  69 non-null     datetime64[ns]
 11  box_office_gross_usa   66 non-null     float64
 12  runtime_hour           69 non-null     int64
 13  runtime_min            69 non-null     int64
dtypes: bool(1), category(3), datetime64[ns](1), float64(2), int64(7)
memory usage: 6.8 KB

In [30]:
df['runtime_minutes'] = (df.runtime_hour * 60) + df.runtime_min

In [31]:
df.drop(columns = ['runtime_hour', 'runtime_min'], inplace = True)

Test

In [32]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,certified,release_date_theaters,box_office_gross_usa,runtime_minutes
0,Iron Man,All Critics,94,7.71,POSITIVE,279,279,261,18,True,2008-05-02,318.3,126
1,Iron Man,Top Critics,90,7.40,POSITIVE,58,58,52,6,True,2008-05-02,318.3,126
2,Iron Man,All Audience,91,4.26,POSITIVE,82486,1083074,220191,22279,False,2008-05-02,318.3,126
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233,233,156,77,False,2008-06-13,134.5,112
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47,47,26,21,False,2008-06-13,134.5,112

Fix 11: Box_office_gross_usa value is missing for Marvel's The Avengers

In [33]:
df[df.box_office_gross_usa.isnull()][["movie_title","box_office_gross_usa"]]

              movie_title  box_office_gross_usa
15  Marvel's The Avengers                   NaN
16  Marvel's The Avengers                   NaN
17  Marvel's The Avengers                   NaN

In [34]:
index_range = df[df.box_office_gross_usa.isnull()].box_office_gross_usa.index

In [35]:
# replace box office value with one from IMDB website
df.loc[index_range, 'box_office_gross_usa'] = 623.4

Test

In [36]:
df.loc[15:17, 'box_office_gross_usa']

15    623.4
16    623.4
17    623.4
Name: box_office_gross_usa, dtype: float64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   movie_title            69 non-null     category
 1   audience_type          69 non-null     category
 2   score                  69 non-null     int64
 3   average_rating         69 non-null     float64
 4   score_sentiment        69 non-null     category
 5   review_count           69 non-null     int64
 6   rating_count           69 non-null     int64
 7   liked_count            69 non-null     int64
 8   not_liked_count        69 non-null     int64
 9   certified              69 non-null     bool
 10  release_date_theaters  69 non-null     datetime64[ns]
 11  box_office_gross_usa   69 non-null     float64
 12  runtime_minutes        69 non-null     int64
dtypes: bool(1), category(3), datetime64[ns](1), float64(2), int64(6)
memory usage: 6.2 KB

In [38]:
df.head()

,movie_title,audience_type,score,average_rating,score_sentiment,review_count,rating_count,liked_count,not_liked_count,certified,release_date_theaters,box_office_gross_usa,runtime_minutes
0,Iron Man,All Critics,94,7.71,POSITIVE,279,279,261,18,True,2008-05-02,318.3,126
1,Iron Man,Top Critics,90,7.40,POSITIVE,58,58,52,6,True,2008-05-02,318.3,126
2,Iron Man,All Audience,91,4.26,POSITIVE,82486,1083074,220191,22279,False,2008-05-02,318.3,126
3,The Incredible Hulk,All Critics,67,6.16,POSITIVE,233,233,156,77,False,2008-06-13,134.5,112
4,The Incredible Hulk,Top Critics,55,5.60,POSITIVE,47,47,26,21,False,2008-06-13,134.5,112

In [39]:
df.to_csv('marvel_cinematic_universe_movie_scores', index=False)

<a id='eda'></a>
## Exploratory Data Analysis